<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navegation')%>
    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quod
          at in cum! Rem labore pariatur quam deleniti hic. Officiis eaque
          praesentium enim nemo placeat pariatur aliquid est, deleniti,
          exercitationem, nam quas cum? Reprehenderit provident recusandae earum
          nobis quod voluptatum nemo blanditiis adipisci tempore culpa eligendi
          fugiat quam quas delectus cum id eius pariatur soluta doloremque a
          iste, quos maxime vel similique. Optio voluptatibus corrupti sed natus
          ratione animi distinctio delectus. Suscipit nemo quam rerum impedit
          consequatur nostrum dolorum architecto ea consequuntur. Quae obcaecati
          blanditiis voluptatibus beatae reiciendis eius. Fugiat aliquid ad
          tenetur eum eius suscipit, aperiam accusamus dignissimos dolorem
          accusantium deserunt architecto molestias recusandae harum ex
          doloribus fugit natus illo officiis magnam laborum reprehenderit est
          ducimus dolor. Ea, sint. Eaque ullam quo non corporis, consequuntur
          dignissimos ut, incidunt ab, dolorem minus architecto autem placeat at
          magnam dicta voluptate nisi dolores iure qui quia soluta vero.
          Similique animi repellat quae quia voluptates earum, temporibus dolore
          inventore! Et laborum quasi rem veritatis? Ad exercitationem minima
          tempora nobis quaerat reiciendis corporis sint nam commodi,
          necessitatibus rem, fugiat eum quibusdam suscipit. Voluptate quas
          error accusamus obcaecati quod sunt in fuga quia, nemo eligendi dolor
          suscipit incidunt provident nihil voluptas similique necessitatibus
          cupiditate. Odit enim quia similique voluptates dolorem, quaerat culpa
          nam unde impedit repellat dignissimos eligendi perspiciatis dolore
          quibusdam consectetur molestiae quidem asperiores velit quod ut!
          Explicabo voluptate aperiam consequuntur at voluptates quidem odio ex
          tempore, nulla quis pariatur repudiandae optio sit ad dolorem quae
          earum corporis asperiores laboriosam omnis ducimus iusto dolorum, modi
          dolore? Dolor, deserunt quo? Maiores explicabo atque eos suscipit?
          Minus, sequi odio. Dolore eligendi numquam illum ipsa ab, repellendus
          libero, minus eos animi repellat esse et! Provident repudiandae quia
          nostrum rem, voluptatem numquam nulla voluptates similique adipisci,
          facilis natus molestiae eveniet nobis deserunt quibusdam ullam magni
          et unde quisquam.
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
